<?xml version="1.0"?>
<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>
  <arg name="trajopt_description" default="trajopt_description"/>
  <arg name="plotting" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="ifopt" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="testing" default="false"/>
  <arg name="gazebo" default="false"/>
  <arg name="gazebo_gui"   default ="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="paused" default="true" />
  <arg name="prefix" default=""/>
  <arg name="delay" default="5.0" />  
  
  

  <!-- Load universal robot description format (URDF) -->
  <param name="/my_gen3/$(arg robot_description)" command="$(find xacro)/xacro --inorder '$(find zavrsni)/descriptions/kinova_urdf.urdf'" />

  <!-- The semantic description that corresponds to the URDF -->
  <param name="/my_gen3/$(arg robot_description)_semantic" textfile="$(find zavrsni)/descriptions/kinova_srdf.srdf" /> 


  <!-- Start Gazebo -->
  <include file="$(find zavrsni)/launch/start_gazebo.launch" if="$(arg gazebo)">
          <arg name="use_sim_time" value="$(arg use_sim_time)"/>
          <arg name="debug" value="$(arg debug)"/>
          <arg name="paused" value="$(arg paused)"/>
  </include>
  

  <!-- If needed, broadcast static tf for robot root -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world base_link 100" launch-prefix="bash -c 'sleep $(arg delay); $0 $@' "/> -->
  <group ns="my_gen3">
    <node pkg="zavrsni" type="zavrsni_program3_node" name="zavrsni_program2_node" output="screen" launch-prefix="bash -c 'sleep $(arg delay); $0 $@' ">
      <param name="plotting" type="bool" value="$(arg plotting)"/>
      <param name="rviz" type="bool" value="$(arg rviz)"/>
      <param name="ifopt" type="bool" value="$(arg ifopt)"/>
      <param name="debug" type="bool" value="$(arg debug)"/>
    </node>


    <!-- Launch visualization -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="zavrsni_program1_rviz"
      args="-d $(find zavrsni)/config/program1.rviz" launch-prefix="bash -c 'sleep $(arg delay); $0 $@' "/>
  </group>


</launch>
